.container{
    max-width: 1200px;
    width: 100%;
    padding: 40px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1320px;
    position: relative;
}
.text{
    background-color: hsla(30, 58%, 93%, 1);
    font-family: Gilroy-Regular;
    color: hsla(0, 0%, 20%, 1) !important;
    margin-left: 35%;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-right: 60px;
    width: 100%;
}
.title1{
    font-size: 36px;
    color: hsla(0, 0%, 20%, 1) !important;
    margin-left: 20%;
}
.title2{
    font-size: 21px;
    margin-top: 35px;
    margin-left: 20%;
}
p, li{
    font-size: 14px;
    line-height: 140%;
    margin-top: 25px;
    margin-left: 20%;
}
.image{
    position: absolute;
    /* top: 50%;
    margin-top: -45%; */
}