@import "~/src/styles/mixins";

$headerHeight: 100px;
$footerHeight: 100px;

.container{    
    display: flex;
    flex-direction: column; 
    height: 100%;
    font-family: Gilroy-Regular;
}
.flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    height: $headerHeight;
}
.main {
    min-height: calc(var(--height, 100vh) - $headerHeight - $footerHeight);

    .containerslider{
        @include container();
    }
}

.grid {
    @include container();
    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    gap: 20px;

    // @media (max-width: 800px) {
    //     grid-template-columns: repeat(2, 1fr);
    //   }
}

.footer {
    height: $footerHeight;
}