@import "~/src/styles/mixins";

$headerHeight: 100px;
$footerHeight: 100px;

.container{    
    display: flex;
    flex-direction: column; 
    height: 100%;
    font-family: Gilroy-Regular;
}
.flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header {
    height: $headerHeight;
}
.main {
    min-height: calc(var(--height, 100vh) - $headerHeight - $footerHeight);

    .containerslider{
        @include container();
    }
}

.footer {
    height: $footerHeight;
}