.container{
    display: flex;
    flex-direction: column; 
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    max-width: 1376px;
    padding: 40px;
    gap: 40px;
    margin-top: 280px;
}