.pricesandservices{
    max-width: 1200px;
    width: 100%;
    padding: 40px;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 150px;
}